@font-face {
  font-family: "Starjedi";
  src: url("../font/Starjedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.hidden {
  display: none;
}

h2 {
  color: rgb(255, 255, 255);
}

h3 {
  color: rgb(141, 18, 18);
}

.details-movie {
  color: #000000;
}

p {
  color: white;
}

#character-list a,
#character-list li {
  color: red;
}

.movie-opening-crawl {
  font-family: "Prompt", sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: rgba(85, 255, 0, 0.522);
}

/*
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(8px);
    z-index: -1;
}
*/
body {
  font-family: "Starjedi", sans-serif;
  letter-spacing: 2px;
  background-image: url("/images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  font-size: 70px;
}

img {
  width: 50%;
}

.loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  border: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}