@font-face {
  font-family: "Starjedi";
  src: url("../font/Starjedi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.hidden {
  display: none;
}

h2 {
  font-family: "Starjedi", sans-serif;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

h3 {
  font-family: "Starjedi", sans-serif;
  color: black;
  font-size: 40px;
  margin: 0 auto;
}

.movie-opening-crawl {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 10px;
  color: rgb(0, 0, 0);
}

#character-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #f1c40f;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

#character-list li {
  background: rgb(174, 36, 36);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

#character-list li:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.2);
}

#character-list li:last-child {
  margin-bottom: 0;
}

#character-list li a {
  color: #ffffff;
  text-decoration: none;
}

#character-list li a:hover {
  color: #e67e22;
}

#movie-details-con .movie-poster {
  width: 40%;
  height: auto;
  border-radius: 5px;
  border: 2px solid #f1c40f;
  box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.5);
  margin: 1px auto;
}

body {
  letter-spacing: 2px;
  background: linear-gradient(to right, #000000, #330000, #8D0000, rgba(178, 122, 120, 0.6156862745), rgba(255, 255, 255, 0.4745098039), rgba(128, 178, 128, 0.4), rgba(37, 182, 37, 0.4), rgba(0, 68, 0, 0.6), rgba(7, 56, 7, 0.6823529412), rgba(0, 0, 0, 0.5921568627));
}

.loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(120, 99, 99, 0.494);
}

.loading-text {
  color: #FFE81F; /* Golden yellow color */
  margin-top: 20px;
  text-align: center;
  font-family: "Starjedi", sans-serif;
  font-weight: bold;
  font-style: oblique;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 25px solid transparent;
  background: linear-gradient(to right, #ffd27f, #ffbb66, #ee7600, rgba(238, 119, 0, 0.8941176471), #cbf0ff);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}