


#movie-details-con .movie-poster {
    width: 40%;
    height: auto;
    border-radius: 5px;
 border: 2px solid #f1c40f;
    box-shadow: 0 0 10px 4px rgba(255, 255, 255, 0.5); 
    margin: 1px auto;
  }
  