

.hidden {
    display: none;
}


h2 {
  font-family: 'Starjedi', sans-serif;
  font-size: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
}


//title of the movie

h3 {
  font-family: 'Starjedi', sans-serif;
  color: black;
  font-size: 38px;
  text-align: center;
}




//this is for the movie details

.movie-opening-crawl {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 30px;
}




